<%
   model_name = Gist
   @gist ||= Gist.new
   @gist_history ||= GistHistory.new
%>
<% if is_anonymous_gist_allowed %>

  <%= simple_form_for @gist do |f| %>

    <%= render :partial => 'common/flash_error' %>

    <div class="form-inputs">
      <%= f.input :title, :label => false, :placeholder => 'Gist description...', :input_html => {:class => 'span8'} %>
    </div>

    <div id="gist_files_input">

      <% @gist_history.gist_files.each do |gist_file| %>
        <%= render :partial => 'gists/gist_files_input', :locals => { :gist_file => gist_file } %>
      <% end %>

      <%= render :partial => 'gists/gist_files_input', :locals => { :gist_file => nil } %>

    </div>

    <div id="add-file" class="well well-small">
      <a href="#">Add another file&hellip;</a>
    </div>

    <div class="form-inputs">
      <% if current_user.present? and @gist.id.nil? %>
          <%= check_box_tag 'is_public', true, @gist.is_public %>
      <% else %>
          <%= check_box_tag 'is_public', true, @gist.user_id.nil? ? true : @gist.is_public, :disabled => true %>
      <% end %>
      &nbsp;&nbsp;Create as a public Gist
    </div>

    <div class="form-actions">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <script>//<![CDATA[
  jQuery(function ($) {
    $('#add-file').on('click', function (e) {
        $.ajax('<%= root_path %>gists/add_gist_files_input').done(scoutAces);
        return false;
    });

    $('#gist_files_input').on('click', '.remove-file', function (e) {
        $(e.currentTarget).parent().remove();
        return false;
    });

    scoutAces();

    function scoutAces() {
      $('.gist_file').not('.i_am_ace').each(function (i, well) {
        aimForTheAce(well);
      });
    }

    function aimForTheAce(well) {
      var modelist = ace.require('ace/ext/modelist');

      var $well = $(well).addClass('i_am_ace');
      var $fileBody = $well.find('.gist_file_body').hide();
      var $fileName = $well.find('.gist_file_name');

      var $editor = $('<div />')
        .addClass('span8')
        .css({ height: 300, position: 'relative', marginLeft: 0, float: 'none' })
        .insertAfter($fileBody);

      var editor = ace.edit($editor.get(0));
      editor.setTheme('ace/theme/github');
      editor.getSession().setTabSize(2);
      editor.getSession().setValue($fileBody.val());
      editor.getSession().setMode(modelist.getModeForPath($fileName.val()).mode);
      editor.getSession().on('change', function () {
        $fileBody.val(editor.getSession().getValue());
      });
      $fileName.on('change', function () {
        editor.getSession().setMode(modelist.getModeForPath($fileName.val()).mode);
      });
    }
  });
  //]]></script>

<% else %>

Please <%= link_to 'sign in', signin_path %> to create a gist.

<% end %>
