<%
   model_name = Gist
   @gist ||= Gist.new
   @gist_history ||= GistHistory.new
%>
<% if is_anonymous_gist_allowed %>

  <%= simple_form_for @gist do |f| %>

    <%= render :partial => 'common/flash_error' %>

    <div class="form-inputs">
      <%= f.input :title, :label => false, :placeholder => 'Gist description...', :input_html => {:class => 'span8'} %>
    </div>

    <div id="gist_files_input">

      <% @gist_history.gist_files.each do |gist_file| %>
          <div class="well">
            <div class="form-inputs">
              <%= text_field_tag 'gist_file_names[]', gist_file.name, :placeholder => 'name this file...', :class => 'span8 gist-file-name' %>
            </div>
            <div class="form-inputs">
              <%= text_area_tag 'gist_file_bodies[]', gist_file.body, :rows => 15, :class => 'span8 gist-file-body', :id => "gist_file_bodies_#{gist_file.id}" %>
            </div>
            <span class="pull-right remove-file"><a href="#">Remove this&hellip;</a></span><br/>
          </div>
      <% end %>

      <div class="well">
        <div class="form-inputs">
          <%= text_field_tag 'gist_file_names[]', nil, :placeholder => 'name this file...', :class => 'span8 gist-file-name' %>
        </div>
        <div class="form-inputs">
          <%= text_area_tag 'gist_file_bodies[]', nil, :rows => 15, :class => 'span8 gist-file-body', :id => "gist_file_bodies_new" %>
        </div>
        <span class="pull-right remove-file"><a href="#">Remove this&hellip;</a></span><br/>
      </div>

    </div>

    <div id="add-file" class="well well-small">
      <a href="#">Add another file&hellip;</a>
    </div>

    <script type="text/javascript">//<![CDATA[
    $('#add-file').click(function () {
        $.ajax('<%= root_path %>gists/add_gist_files_input');
        return false;
    });
    $('.remove-file').click(function () {
        $(this).parent().remove();
        return false;
    });
    //]]></script>

    <div class="form-inputs">
      <% if current_user.present? and @gist.id.nil? %>
          <%= check_box_tag 'is_public', true, @gist.is_public %>
      <% else %>
          <%= check_box_tag 'is_public', true, @gist.user_id.nil? ? true : @gist.is_public, :disabled => true %>
      <% end %>
      &nbsp;&nbsp;Create as a public Gist
    </div>

    <div class="form-actions">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <%= javascript_include_tag "ace/ace" %>
  <%= javascript_include_tag "ace/ext-modelist" %>
  <script>//<![CDATA[
  ace.require(['ace/ext/modelist'], function (modelist) {
    $('.gist-file-body').each(function (i, textarea) {
      var $textarea = $(textarea).hide();
      var $name = $textarea.parent().parent().find('.gist-file-name');

      var id = $textarea.attr('id') + '_editor';
      $('<div />')
        .attr('id', id)
        .addClass('span8')
        .css({ height: 300, position: 'relative', marginLeft: 0, float: 'none' })
        .insertAfter(textarea);

      var editor = ace.edit(id);
      editor.setTheme('ace/theme/github');
      editor.getSession().setTabSize(2);
      editor.getSession().setValue($textarea.val());
      editor.getSession().setMode(modelist.getModeForPath($name.val()).mode);
      editor.getSession().on('change', function () {
        $textarea.val(editor.getSession().getValue());
      });
      $name.on('change', function () {
        editor.getSession().setMode(modelist.getModeForPath($name.val()).mode);
      });
    });
  });
  //]]></script>

<% else %>

Please <%= link_to 'sign in', signin_path %> to create a gist.

<% end %>
