<% if @gists.empty? %>
  <div>No gist found</div>
<% end %>
<% @gists.each do |gist| %>
    <% if gist.latest_history %>
        <h4 class="clearfix">
          <% if gist.is_public %>
            <i class="icon-pencil"></i>&nbsp;<%= link_to gist.title, gist %>
              <% if gist.favorites.present? %>
                  <small><%= gist.favorites.size %> <% if gist.favorites.size == 1 %>like<% else %>likes<% end %><% if gist.comments.present? %>,<% end %></small>
              <% end %>
              <% if gist.comments.present? %>
                  <small><%= gist.comments.size %> <% if gist.comments.size == 1 %>comment<% else %>comments<% end %></small>
              <% end %>
            <div class="pull-right">
              <small>
                <%= time_ago_in_words(gist.latest_history.created_at) + ' ago' %>
                by
                <% if gist.user.nil? %>
                    Anonymous
                <% else %>
                    <%= link_to gist.user.nickname, user_path(gist.user) %>
                <% end %>
              </small>
            </div>
      <% else %>
              <div class="alert">
                <i class="icon-home"></i>&nbsp;<%= link_to gist.title, gist %>
                <% if gist.favorites.present? %>
                    <small><%= gist.favorites.size %> <% if gist.favorites.size == 1 %>like<% else %>likes<% end %><% if gist.comments.present? %>,<% end %></small>
                <% end %>
                <% if gist.comments.present? %>
                    <small><%= gist.comments.size %> <% if gist.comments.size == 1 %>comment<% else %>comments<% end %></small>
                <% end %>
                <div class="pull-right">
                  <small>
                    <%= time_ago_in_words(gist.latest_history.created_at) + ' ago' %>
                    by
                    <% if gist.user.nil? %>
                        Anonymous
                    <% else %>
                        <%= link_to gist.user.nickname, user_path(gist.user) %>
                    <% end %>
                  </small>
                </div>
              </div>
          <% end %>
        </h4>
        <pre class="prettyprint linenums"><small><%= gist.latest_history.headline %></small></pre>
    <% end %>
<% end %>
